* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik Mono One', sans-serif;
}

html {
  scroll-behavior: smooth;
}
/*inizio menu di navigazione */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 5;
}
.nav_container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 40px;
  list-style: none;
  line-height: 60px;
  text-align: right;
}
.nav_container li {
  display: inline-block;
  margin: 0 20px;
}
.nav_shoes {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  color: black;
}
.nav_shoes:hover {
  box-shadow: 1px 4px 5px black;
}
/* fine menu di navigazione */
/* inizio sezione scarpe */
section {
  position: relative;
  width: 100%;
  height: 100vh;
}
.container {
  position: absolute;
  top: 5%;
  right: 21%;
}
#red{
  background-color: red;
}
#green {
  background-color: green;
}
#yellow {
  background-color: yellow;
}
p {
  text-align: center;
  color: yellow;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
}
.text_green {
  color: green;
}
/* fine sezione scarpe */
